* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
margin: auto;
text-align: center;
font-family: 'Hind', sans-serif;
}

.container{
  width: 65%;
  padding: 5%;
  margin: auto;
}
.lobby{
  margin-top: 5%;
}
